
$warn-color: mat-color(mat-palette($mat-red, 700));

// colors
.color-technology { background-color: rgba($warn-color, 0.9); }
.color-creative { background-color: #4A90E2; }
.color-applicant { background-color: #9013FE; }
