:host {
  .styleguide-card {
    width: 90%;
    margin: 20px auto;
    min-height: 100px;
    background-color: #fff;
    border-radius: 4px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
    box-sizing: border-box;
    transition: box-shadow .5s;
    padding-top: 48px;
    position: relative;

    &:hover {
      box-shadow: 0 8px 8px rgba(10,16,20,.24), 0 0 8px rgba(10,16,20,.12);
      text-decoration: none;

      .styleguide-header {
        background-color: rgba(25,118,210,.1);
        color: #1976d2;
      }
    }
  }

  .styleguide-header {
    top: 0;
    border-bottom: .5px solid #dbdbdb;
    box-sizing: border-box;
    line-height: 48px;
    padding-left: 20px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: left;
    color: #6e6e6e;
  }

  .styleguide-content {
    padding: 20px;
    text-align: center;
  }
}
