:host {
  display: inline-block;

  // .form-submit {
  //   padding-top: 20px;
  // }

  .error-text {
    font-size: 13px;
    color: #D32F2F;
    min-height: 17px;
    display: block;
    position: relative;

    .material-icons {
        position: absolute;
        right: 0;
        top: -1px;
        font-size: 17px;
    }
  }

}
