<div class="company-logo">
  <a [href]="link" *ngIf="name">{{ name }}</a>
  <svg width="61px" height="61px" viewBox="104 0 61 61" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g id="company-logo" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(105.709677, 1.552632)">
        <g id="Layer_1">
            <rect id="Rectangle-path" stroke="#FFFFFF" fill="#000000" x="0" y="0" width="57.6738353" height="57.687614"></rect>
            <g id="Group" fill="#FFFFFF">
                <path d="M53.4623529,4.18651462 L53.4623529,53.5007602 L4.21114118,53.5007602 L4.21114118,4.18651462 L53.4623529,4.18651462 L53.4623529,4.18651462 Z M57.8461294,0 L0,0 L0,57.687614 L57.6738353,57.687614 L57.6738353,0 L57.8461294,0 L57.8461294,0 Z" id="Shape"></path>
                <text id="L" transform="translate(41.500000, 20.500000) rotate(180.000000) translate(-41.500000, -20.500000) " font-family="Roboto-Regular, Roboto" font-size="35" font-weight="normal">
                    <tspan x="32" y="32">L</tspan>
                </text>
                <text id="L" font-family="Roboto-Regular, Roboto" font-size="35" font-weight="normal">
                    <tspan x="7" y="47">L</tspan>
                </text>
                <circle id="Oval" stroke="#fff" cx="29" cy="29" r="3"></circle>
            </g>
        </g>
    </g>
  </svg>
</div>
