$padding: 10px;

:host {

  .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding;
    color: white;
  }

  .card-avatar {
    display: flex;
    align-items: center;
  }

  .card-avatar-bg {
    background-color: rgba(#000000, .26);
    color: white;
    padding: 6px;
    border-radius: 50%;

    .mat-icon {
      float: left;
    }
  }

  .card-buttons {
    .mat-icon-button {
      width: 30px;
      height: 30px;
      line-height: 30px;
      // font-size: 35px;
    }
  }

  .card-title {
    padding-left: 20px;
    > span {
      display: block;
      text-align: left;
    }
  }
}
