<form class="app-forms" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <h2>Update Password</h2>
  <md-input-container>
    <input mdInput name="password" required placeholder="Current password">
  </md-input-container>
  <md-input-container>
    <input mdInput name="password1" required placeholder="new password">
  </md-input-container>
  <md-input-container>
    <input mdInput name="password2" placeholder="Confirm new password">
  </md-input-container>

  <div class="form-submit">
    <md-spinner *ngIf="inProgress" color="accent" class="form-status"></md-spinner>
    <button [disabled]="inProgress" md-raised-button color="warn">UPDATE PASSWORD</button>
  </div>
</form>
