<app-default-layout>
  <div class="region-header"></div>
  <div class="region-content">
    <h1> Styleguide</h1>

    <app-styleguide [header]="'Header Menu'">
      <app-header></app-header>
    </app-styleguide>

    <app-styleguide [header]="'Job Card'">
      <app-card [card]="card">
        <app-card-jobs [content]="card"></app-card-jobs>
      </app-card>
    </app-styleguide>

    <app-styleguide [header]="'Applicant Card'">
      <app-card [card]="card2">
        <app-card-applicant [content]="card2"></app-card-applicant>
      </app-card>
    </app-styleguide>

    <app-styleguide [header]="'Form Job General Information'">
      <app-card [card]="formGeneral">
        <app-form-job-general></app-form-job-general>
      </app-card>
    </app-styleguide>

    <app-styleguide [header]="'Profile Forms'" [inline]="true">
      <app-form-login></app-form-login>
      <app-form-profile></app-form-profile>
      <app-form-password></app-form-password>
    </app-styleguide>

    <app-styleguide [header]="'Company Logo'">
      <app-logo [name]="'Careers'"></app-logo>
    </app-styleguide>

    <app-styleguide [header]="'Breadcrumb'">
      <app-breadcrumb></app-breadcrumb>
    </app-styleguide>

  </div>
  <div class="region-footer"></div>
</app-default-layout>
