/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

md-toolbar-row {
  justify-content: space-between;
}

md-grid-list {
  max-width: 1403px;
  margin: 16px;
}

md-sidenav-layout {
  height: 100vh;
}

md-sidenav {
  width: 320px;
}

.icon-20 {
  font-size: 20px;
}

.login-form md-input .md-input-placeholder.md-focused {
    color: #101010;
}
.login-form md-input .md-input-underline .md-input-ripple.md-focused {
    background-color: #101010;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}